<div  class="container">
  <form>
    <fieldset>
      <h6>Información básica</h6>
      <div class="mb-3">
      </div>
      <div class="mb-3">
        <label for="primerNombre" class="form-label labels">Primer apellido</label>
        <input type="text" id="primerNombre" class="form-control" disabled >
      </div>
      <div class="mb-3">
        <label for="primerApellido" class="form-label labels">Primer nombre</label>
        <input type="text" id="primerApellido" class="form-control" disabled>
      </div>
    </fieldset>
  </form>
  <button type="submit" class="btn btn-primary" (click)="regreso()" >Atras</button>
</div>

